.btn{
    background-color: blue;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover{
background-color: aqua;
}
.harshak{
    text-align: center;
}
.c{
    color: aliceblue;
    font-family: cooper;
    font-size: 30px;
}
.h{
    font-family:Courier ;
}
.hars{
    font-family:Courier ;
}
.you{
    text-decoration: none;
}